.project-list-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
}
.project-list-container h2 {
    grid-row: 1;
}

.project-list-container a {
    grid-row: 2;
    text-decoration: none;
}

.project-card {
    color: #000;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
}

.project-card h3 {
    margin: 0;
    padding: 0;
}