.add-container {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.add-icon {
    height: 20px;
    width: 20px;
    align-self: center;
    fill: #333;
}

.add-container:hover {
    cursor: pointer;
}

.chevron-icon {
    height: 14px;
    width: 14px;
    align-self: end;
    fill: #333;
}