header {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    background-color: #FC8621;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.buttons-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    margin-right: 4rem;
    gap: 25px;
    align-items: center;
    justify-content: end;
}

.buttons-container button {
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 8px;
    color: #333;
    background-color: #fff;
}

.add-todo-button {
    border: 1px solid #0099ff;
}

.buttons-container button:hover {
    cursor: pointer;
    background-color: #eee;
}

.add-project-button {
    border: 1px solid #2eec57;
}

nav {
    justify-self: start;
    grid-column: 1;
    grid-row: 1;
    margin-left: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

.logo-container:hover {
    cursor: pointer;
}

.logo-text {
    font-weight: bold;
    font-size: 18px;
    color: #222;
}

.logo-icon {
    width: 32px;
    height: 32px;
    fill: #222;
}

.user-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-right: 2rem;
    background-color: #FAF9F6;
    padding: .5rem 1rem;
    border-radius: 8px;
    justify-items: center;
    gap: 1rem;
}

.user-container button {
    background-color: #FC8621;
    border: none;
    font-weight: bold;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
}

.user-container button:hover {
    background-color: #ffa85b;
}

.user-container .sign-in-button {
    grid-column: 1 / -1;
}