header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #FC8621;
    grid-row: 1;
    grid-column: 1 / span 2;
}

.buttons-container {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    margin-right: 4rem;
    gap: 25px;
    align-items: center;
    justify-content: end;
}

.buttons-container button {
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 8px;
    color: #333;
    background-color: #fff;
}

.add-todo-button {
    border: 1px solid #0099ff;
}

.buttons-container button:hover {
    cursor: pointer;
    background-color: #eee;
}

.add-project-button {
    border: 1px solid #2eec57;
}

nav {
    justify-self: start;
    grid-column: 1;
    grid-row: 1;
    margin-left: 2rem;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}