* {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
}

.main-content {
    padding: 20px 40px;
    grid-column: 2;
}